// place your custom styles here
@import 'primeflex/primeflex.css';

.feature .icon {
    width: 50px;
}
.col-md-3{
    width: fit-content;
}

.vp-hero-info-wrapper, .vp-feature-wrapper{
    margin-top:1.5rem;
}
.vp-feature-header{
    margin:0;
}
.vp-feature{
    padding: 0 1.5rem;
}
.vp-features{
    margin: 1.5rem 0;
}


.vp-footer-wrapper{
    background-color: var(--surface-100) !important;
}

.vp-footer{
    margin: 3rem 1rem;
}

.vp-article-title span{
    background-color: #669eff;
    padding: 4px;
    border-radius: 4px;
}

.vp-sidebar {
    padding-inline-start: revert;
}