// place your custom styles here
@import 'primeflex/primeflex.css';

.feature .icon {
    width: 50px;
}
.col-md-3{
    width: fit-content;
}
.vp-hero-image{
    border-radius: 48% 52% 100% 0% / 54% 54% 46% 46%;
}
.vp-hero-info-wrapper{
    background-image: url('/img/home/back.svg');
    background-repeat: no-repeat;
}
.vp-hero-info-wrapper, .vp-feature-wrapper{
    padding: 4.5rem 0;
}
.vp-feature-header{
    margin:0;
}
.vp-feature{
    padding: 0 1.5rem;
}
.vp-features{
    margin: 1.5rem 0;
}

#contact,.vp-feature-item {
    padding:0;
    margin:0;
    border: 1px solid var(--p-green-800);
}
.vp-footer-wrapper{
    background-color: var(--surface-100) !important;
}

.vp-footer{
    margin: 3rem 1rem;
}

.vp-article-title span{
    background-color: #669eff;
    padding: 4px;
    border-radius: 4px;
}

.vp-sidebar {
    padding-inline-start: revert;
}

.vp-blogger-info, .vp-page-meta{
    display: none;
}


.p-image img{
 border-radius:53% 47% 86% 14% / 54% 65% 35% 46%;
 padding:4px;
}

.p-carousel-indicator-list{
    display: none !important;
}

.p-button-secondary{
    border: 0 !important;
}

.custom-button {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
}

.circle {
    width: 24px;
    height: 24px;
    background-color: var(--bg-color);
    /* Adjust to match the desired color */
    border-radius: 50%;
}