// place your custom styles here
@import 'primeflex/primeflex.css';

.feature .icon {
    width: 50px;
}
.col-md-3{
    width: fit-content;
}

// .vp-breadcrumb, .vp-page-title, .theme-hope-content, .vp-page-meta, .vp-page-nav {
//     margin-inline:  0 !important;
//     padding-inline: 0 !important;
// }

.vp-feature-item, .vp-hero-info-wrapper {
    margin-top: 4rem !important; 
}

.vp-footer-wrapper{
    background-color: var(--surface-100) !important;
}